
VERIFY_HTTPS=
ACCNR_PREFIX=
MYSQL_HOST=
MYSQL_CHARSET=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_PORT=
SESSION_TIME=
DC_DB_ACCRONYM=
DC_DB_SERVER=
DC_DB_DATABASE=
DC_DB_PORT=
DC_DB_DRIVER=
DC_DB_UID=
DC_DB_PASSWORD=
DC_DB_COLLATION=
DC_DB_TRUSTED_CONNECTION=
DC_DB_ENCRYPT=
DC_DB_TRUST_CERTIFICATE= 
SMTP_SERVER=
SMTP_SENDER=
SMTP_USER=
SMTP_PASSWORD=
SMTP_PORT=
DEVELOPERS_MAIL=
PYRAMID_PORT=
